.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-width: 300px;
  padding: 25px;
  background-color: #ad3333;
  border: 1px solid #362f2f;
  border-radius: 8px;
  font-size: 24px;
  color: #FFFFFF;
}