.HW3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 600px;
  padding: 60px;.HW3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 600px;
  padding: 60px;
  border: 4px solid rgb(18, 25, 101);
}
  border: 4px solid rgb(18, 25, 101);
}