.profile-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 4px solid rgb(2, 24, 30);
  background-color: rgb(154, 20, 211);
  min-width: 250px;
  padding: 15px;
  border-radius: 10px;
  font-size: 24px;
}

.profile-card-wrapper > img {
    width: 120px;
}